.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-position: center;
}

.cabecalho {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo, 
.lista__menu__item {
    background-color: var(--header-color);
    padding: 1em;
}

/* substituir cores por gradiente quando tiver figma pro */
.lista__menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

/* substituir cores por gradiente quando tiver figma pro */
.lista__menu__titulo {
    color: var(--laranja-texto);
    font-weight: 700;
}

.container__botao {
    display: none;
}

.cabecalho__titulo {
    display: none;
}

.cabecalho__menu__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        display: block;
    }

    .cabecalho__titulo__negrito {
        font-weight: 700;
    }

    .cabecalho__menu__lista {
        display: flex;
    }

    .cabecalho__menu__link {
        padding: 1em;
        text-decoration: none;
        color: black;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .botao__categorias:checked~.lista__menu {
        display: block;
        width: auto;
    }

    .botao__categorias {
        display: none;
    }
}